<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <jobs>
                <department>
                    <view_list>1</view_list>
                </department>
            </jobs>
        </default>
    <websites>
        <base>
            <jobs>
                <department>
                    <view_list>1</view_list>
                </department>
            </jobs>
        </base>
    </websites>

    <stores>
        <main_website_store>
            <jobs>
                <department>
                    <view_list>1</view_list>
                </department>
            </jobs>
        </main_website_store>
    </stores>
</config>